In [64]:
# import required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# (a)

# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = labelencoder.fit_transform(bridge_df['Bridge_Types'])
bridge_df

In [65]:
df = pd.read_csv("Hitters.csv")

In [66]:
labelencoder = LabelEncoder()

df['League'] = labelencoder.fit_transform(df['League'])
df['Division'] = labelencoder.fit_transform(df['Division'])
df['NewLeague'] = labelencoder.fit_transform(df['NewLeague'])

In [67]:
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.0,1
1,479,130,18,66,72,76,3,1624,457,63,224,266,263,0,1,880,82,14,480.0,0
2,496,141,20,65,78,37,11,5628,1575,225,828,838,354,1,0,200,11,3,500.0,1
3,321,87,10,39,42,30,2,396,101,12,48,46,33,1,0,805,40,4,91.5,1
4,594,169,4,74,51,35,11,4408,1133,19,501,336,194,0,1,282,421,25,750.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,497,127,7,65,48,37,5,2703,806,32,379,311,138,1,0,325,9,3,700.0,1
259,492,136,5,76,50,94,12,5511,1511,39,897,451,875,0,0,313,381,20,875.0,0
260,475,126,3,61,43,52,6,1700,433,7,217,93,146,0,1,37,113,7,385.0,0
261,573,144,9,85,60,78,8,3198,857,97,470,420,332,0,0,1314,131,12,960.0,0
262,631,170,9,77,44,31,11,4908,1457,30,775,357,249,0,1,408,4,3,1000.0,0

# (b)

import pandas as pd
import numpy as np
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])
bridge_df
# generate binary values using get_dummies
dum_df = pd.get_dummies(bridge_df, columns=["Bridge_Types"], prefix=["Type_is"] )
# merge with main df bridge_df on key values
bridge_df = bridge_df.join(dum_df)
bridge_df

In [68]:
df = pd.read_csv("Hitters.csv")
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
1,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
2,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
3,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
4,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
259,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
260,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
261,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
262,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [69]:
enc = OneHotEncoder(handle_unknown='ignore')

In [70]:
enc_df_League = pd.DataFrame(enc.fit_transform(df[['League']]).toarray())
df['League_Type_a'] = labelencoder.fit_transform(enc_df_League[0])
df['League_Type_b'] = labelencoder.fit_transform(enc_df_League[1])

enc_df_Division = pd.DataFrame(enc.fit_transform(df[['Division']]).toarray())
df['Division_Type_a'] = labelencoder.fit_transform(enc_df_Division[0])
df['Division_Type_b'] = labelencoder.fit_transform(enc_df_Division[1])

enc_df_NewLeague = pd.DataFrame(enc.fit_transform(df[['NewLeague']]).toarray())
df['NewLeague_Type_a'] = labelencoder.fit_transform(enc_df_NewLeague[0])
df['NewLeague_Type_b'] = labelencoder.fit_transform(enc_df_NewLeague[1])

In [71]:
#Delete the column
df = df.drop(['NewLeague', 'Division','League'], axis=1)
df

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,PutOuts,Assists,Errors,Salary,League_Type_a,League_Type_b,Division_Type_a,Division_Type_b,NewLeague_Type_a,NewLeague_Type_b
0,315,81,7,24,38,39,14,3449,835,69,...,632,43,10,475.0,0,1,0,1,0,1
1,479,130,18,66,72,76,3,1624,457,63,...,880,82,14,480.0,1,0,0,1,1,0
2,496,141,20,65,78,37,11,5628,1575,225,...,200,11,3,500.0,0,1,1,0,0,1
3,321,87,10,39,42,30,2,396,101,12,...,805,40,4,91.5,0,1,1,0,0,1
4,594,169,4,74,51,35,11,4408,1133,19,...,282,421,25,750.0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,497,127,7,65,48,37,5,2703,806,32,...,325,9,3,700.0,0,1,1,0,0,1
259,492,136,5,76,50,94,12,5511,1511,39,...,313,381,20,875.0,1,0,1,0,1,0
260,475,126,3,61,43,52,6,1700,433,7,...,37,113,7,385.0,1,0,0,1,1,0
261,573,144,9,85,60,78,8,3198,857,97,...,1314,131,12,960.0,1,0,1,0,1,0
262,631,170,9,77,44,31,11,4908,1457,30,...,408,4,3,1000.0,1,0,0,1,1,0

In [72]:
Y = df["Salary"]
X = df = df.drop(['Salary'], axis=1)

# (c)

In [73]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
def Validate(X,Y,model):
    kf = KFold(n_splits=10)
    kf.get_n_splits(X)
    zer_one_err = []
    for train_index, test_index in kf.split(X):
        #print("TRAIN:", train_index, "TEST:", test_index)
        X_train, X_test = X.iloc[train_index,:], X.iloc[test_index,:]
        y_train, y_test = Y.iloc[train_index], Y.iloc[test_index]
        # fit the model
        model.fit(X_train,y_train)
        # predict
        y_pred = model.predict(X_test)
        loss = mean_squared_error(y_test,y_pred)
        zer_one_err.append(loss)
    return np.mean(zer_one_err)

In [74]:
model = LinearRegression()
err = Validate(X,Y,model)

In [75]:
err

116599.01367380242